<div class="row">
  <div class="column">
    <%= image_for(@user, 74) %> <!-- Find me in application_helper -->
  </div>
  <div class="column">
    <h2><%= @user.name %>'s Profile</h2>

    <span id="friending">
      <% unless current_user == @user %>
        <% if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) || current_user.requested_friends.include?(@user) %>
          <%= link_to edit_friendship_path(@friendship), class: "btn btn-warning" do %>
            <i class="fa fa-edit"></i> Edit Friendship
          <% end %>
        <% elsif current_user.blocked_friends.include?(@user) %>
          <span class="btn btn-success disabled"><i class="fa fa-plus"></i> Add Friend</span>
        <% else %>
          <%= link_to new_friendship_path(friend_id: @user.id), class: "btn btn-success", id: "add-friendship", data: { friend_id: @user.id } do %>
            <i class="fa fa-plus"></i> Add Friend
          <% end%>
        <% end %>
      <% end %>
    </span>

  </div>
</div>

<h3>User's statuses</h3>

<% @statuses.each do |status| %>
<div class="status">
  <p><%= status.content %></p>
  <%= link_to time_ago_in_words(status.created_at) + " ago", status, class: "dimmed" %>
  <% if current_user && (status.user == current_user || current_user.admin == true) %>
  <span class="admin">
  </span>
  <% end %>
</div>
<% end %>
