<% if current_user && !current_user.has_blocked?(status.user) %>
<div class="status" id="<%= dom_id(status) %>">
  <div class="row">

    <div class="col-sm-2 col-md-1 col-lg-1">
      <%= image_for(status.user, :small, 74) %> <!-- Find me in application_helper -->
    </div>

    <div class="col-sm-10 col-md-11 col-lg-11">
      <strong><%= name_for(status.user) %></strong>

      <span class="dimmed date"><%= time_ago_in_words(status.created_at) %> ago</span>

      <%= render partial: 'options', locals: { status: status } %>

      <p><%= status.content %></p>

      <%= link_to pluralize(status.comments.size, 'comment'), status, class: "dimmed" %>

      <%= render partial: 'voting', locals: { status: status } %>
    </div>

  </div>
</div>
<% end %>
