<% if current_user && !current_user.has_blocked?(status.user) %>
<div class="status" id="<%= dom_id(status) %>">
  <div class="row">

    <div class="col-sm-2 col-md-1 col-lg-1">
      <%= image_for(status.user, 74) %> <!-- Find me in application_helper -->
    </div>

    <div class="col-sm-10 col-md-11 col-lg-11">
      <strong><%= name_for(status.user) %></strong>

      <span class="dimmed date"><%= time_ago_in_words(status.created_at) %> ago</span>

      <% if current_user && (status.user == current_user || current_user.admin == true) %>
      <div class="btn-group pull-right status-options">
        <a aria-expanded="false" href="#" class="dropdown-toggle dimmed" data-toggle="dropdown">
          <i class="fa fa-ellipsis-h"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to edit_status_path(status), remote: true do %>
              <i class="fa fa-edit"></i> Edit
            <% end %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to status, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
              <i class="fa fa-trash-o"></i> Delete
            <% end %>
          </li>
        </ul>
      </div>
      <% end %>

      <p><%= status.content %></p>

      <%= link_to pluralize(status.comments.size, 'comment'), status, class: "dimmed" %>

      <%= render partial: 'voting', locals: { status: status } %>
    </div>

  </div>
</div>
<% end %>
