<div class="status">
  <div class="row">
  <div class="col-sm-2 col-md-1 col-lg-1">
      <%= image_tag status.user.gravatar_url, class: "gravie" %>
    </div>
    <div class="col-sm-10 col-md-11 col-lg-11">
      <strong><%= link_to status.user.name, profiles_path(status.user) %></strong>
      <p><%= status.content %></p>
      <%= link_to time_ago_in_words(status.created_at) + " ago", status, class: "dimmed" %>
      <% if current_user && (status.user == current_user || current_user.admin == true) %>
      <span class="admin">
        | <%= link_to 'Edit', edit_status_path(status), remote: true %>
        | <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
      </span>
      <% end %>
    </div>
  </div>
</div>
