<div class="status show" id="<%= dom_id(@status) %>">
  <div class="row">
    <div class="col-sm-2 col-md-1 col-lg-1">
    <%= image_for(@status.user, :small, 74) %> <!-- Find me in application_helper -->
    </div>
    <div class="col-sm-10 col-md-11 col-lg-11">

      <strong><%= name_for(@status.user) %></strong>

      <span class="dimmed date">
        <%= time_ago_in_words(@status.created_at) %> ago
      </span>

      <p><%= @status.content %></p>

      <%= render partial: 'voting', locals: { status: @status } %>

    </div>
  </div>
</div>
<%= render @comments %>
<%= render partial: "comments/form" %>
