<div class="status show" id="<%= dom_id(@status) %>">
  <div class="row">
    <div class="col-sm-2 col-md-1 col-lg-1">
    <%= image_for(@status.user, 74) %> <!-- Find me in application_helper -->
    </div>
    <div class="col-sm-10 col-md-11 col-lg-11">
      <% if @status.user.deleted_at %>
      <strong>DELETED USER</strong>
      <% else %>
      <strong><%= link_to @status.user.name, profiles_path(@status.user) %></strong>
      <% end %>
      <span class="dimmed date"><%= time_ago_in_words(@status.created_at) %> ago</span>

      <p><%= @status.content %></p>

      <%= render partial: 'voting', locals: { status: @status } %>

    </div>
  </div>
</div>
<%= render @comments %>
<%= render partial: "comments/form" %>
