<h2>Viewing friendship</h2>

<p><%= @friendship.sub_message %></p>

<div>
  <% if @friendship.requested? %>
    <%= form_for @friendship, url: accept_friendship_path(@friendship), method: :put do |form| %>
      <%= submit_tag "Accept friendship", class: "btn btn-success" %>
    <% end %>
  <% end %>

  <%= form_for @friendship, url: friendship_path(@friendship), method: :delete do |form| %>
    <%= submit_tag "Cancel friendship", class: "btn btn-danger" %>
  <% end %>
</div>
