<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>

<div class="col-lg-6">
  <div class="well bs-component">

    <div class="omni">
      <%= link_to user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-default btn-md btn-google' do %>
        <i class="fa fa-google-plus-square"></i> Sign in with Google
      <% end %>
      <span id="orr"> </span>
      <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-default btn-md btn-facebook' do %>
        <i class="fa fa-facebook-square"></i> Sign in with Facebook
      <% end %>
    </div>

    <fieldset>

      <legend>Log in</legend>

      <div class="form-group">
        <%= f.label :email, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %> Remember me
            </label>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.button "Log in", class: 'btn btn-default btn-lg btn-block', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Logging in..." } %>
      </div>
    </fieldset>
    <% end %>
  </div>
  <p>Don't have an account? <%= link_to "Register", new_user_registration_path %> instead.</p>
</div>
